/* index.css */
span{
    color: pink;
    font-weight: bold;
}
h1{
    font-style: Arial;
    text-decoration: underline;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-display: swap;
}
h3{
    background-color: wheat;
    padding: 10px;
    border-radius: 8px;
}
#s1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: inherit;
    font-size: 40px;
}
.s2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 30px;
}