body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzBWsM-VuPL7GoshJ7BvcWQ7jfy1hajs8Wnw&s");
  background-size: 60%;
  background-repeat:no repeat;
  background-position: center;
  background-attachment: fixed;

  font-family: Arial;
}


.box {
  width: 280px;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
}

input {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
}

input:focus {
    border-color: #6c63ff;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.3);
}


button {
  width: 100%;
  padding: 12px;
  background: #6c63ff;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
    cursor: pointer;
}
