.vi-bg{
    position: fixed;
    top: 0;
    left: 0;


    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
}

    .content{
    z-index: 10;
    color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items:center;
    }
    
 .foot {
  width: 100%;
  background-color: #f1f1f1;
  padding: 15px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 2px solid #c60e0e;
  color:black;
  font-weight: bolder;
}




